body{
    position: fixed;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.Container{
    overflow: scroll;
    height: 100%;
}

.nav{
    display: flex; 
    height: 50px;
}

.logo{
    display: flex; 
    height: 45px; 
    width: 50%;
}

.contact{
    text-align: right; 
    width: 50%;
}

.logo-name{
    font-size: 1.2rem;
    color: green;
}

.contact-number{
    display: inline-block; 
    margin-right: 2%; 
    font-size: 1.1rem; 
    font-weight: bolder;
}

.contact-email{
    display: inline-block;
    margin-right: 2%; 
    margin-left: 2%; 
    font-size: 1.1rem; 
    font-weight: bolder;
}

.header{
    width: 100%;
    height:44rem;
    background-image: url(ayurvedic.jpeg);
    background-size:cover;
    margin: auto;
    background-repeat: no-repeat;
}


.content{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3rem;
    padding: 10%;
    flex-direction: column;
}

em{
    font-size: 1.5rem;
}
.color-first{
    font-family:'Times New Roman', Times, serif;
}
.color-first:first-letter{
    color: green;
    font-size: 4rem;
}


.main-header{
    text-align: center;
    color: rgb(43, 95, 43);
}

.main-header-2{
    font-size: 2rem; 
    margin-bottom: 0;
}

.main-header-3{
    font-size: 1.8rem;  
    margin-top: 5px;
}

.main-content{
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 50px;
}
.products{
    width: 40%;
    height: 40vh;
}
.products-header{
    border-bottom: 1px solid;
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 2px;
    height: 15%;
}

.products-body{
    background-size:contain;
    height: 80%;
}
.ayurveda-header{
    background-color: rgb(76, 175, 214);
}

.ayurveda-body{
    background-image: url('generics.jpeg');  
}

.cosmetics-header{
    background-color: rgb(242, 67, 102);
}
.cosmetics-body{
    background-image: url('cosmetics_back.png');  
    background-size:contain;
    height: 80%;
}

.footer{
    background:linear-gradient(348.42deg,#0e2a3e 31.62%,#011133 90.19%);
    color: white;
    padding: 20px;
}

.footer-header{
    /* color: white; */
    text-align: center;
    font-size: 3rem;
}

.footer-main{
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
}


@media only screen and (max-device-width: 1080px) {
    .header{
        width: 100%;
        height:30rem;
        background-image: url(ayurvedic.jpeg);
        background-size:cover;
        margin: auto;
        background-repeat: no-repeat;
    }

    .logo{
        width: 50%;
    }

    .logo-name{
        font-size: 1rem;
    }

    .contact{
        text-align: left; 
        width: 50%;
    }

    .contact-number{
        display: inline-block; 
        font-size: 0.8rem; 
        font-weight: bolder;
    }

    .main-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 20px;
    }

    .products{
        width: 60%;
        height: 40vh;
    }
    
    .contact-email{
        display: inline-block; 
        font-size: 0.8rem; 
        font-weight: bolder;
    }

    .main-header-1{
        font-size: 1.3rem; 
    }
    .main-header-2{
        font-size: 1.5rem; 
    }
    
    .main-header-3{
        font-size: 1.2rem;  
    }

    .ayurveda-body{
        background-image: url('generics.jpeg'); 
        background-size:cover;
    }

    .cosmetics-body{
        background-image: url('cosmetics_back.png');  
        background-size:cover;
    }
}

@media only screen and (max-device-width: 900px) {
    .contact-email{
        display: None;
    }

    .contact{
        text-align: right; 
    }

    .contact-number{
        font-size: 1rem; 
    }

    .contact-divider{
        display: none;
    }

    .products{
        width: 70%;
        height: 40vh;
    }

}

@media only screen and (max-device-width: 480px) {
    .logo-name{
        font-size: 0.8rem;
    }
    .contact-number{
        font-size: 0.7rem;
    }
    .products{
        width: 80%;
        height: 40vh;
    }
    
}